<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Bucky Nix</title>

    <link rel="stylesheet" href="<%= static_path(@conn, "/css/bootstrap.min.css") %>">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container-fuild bg-faded">
      <div class="container">
        <nav class="navbar navbar-light row">
          <div class="col-xs">
            <a class="navbar-brand mr-3" href="/">
              <img src="<%= static_path(@conn, "/images/buckynix.png") %>" height="28" class="d-inline-block align-top" alt="">
            </a>
          </div>

          <div class="col-xs-6">
            <ul class="nav navbar-nav text-center">
              <%= if @current_organization do %>
                <li class="d-inline-block"><%= link raw(~s(<i class="fa fa-user"></i>) <> " Users"), to: user_path(@conn, :index), class: "nav-link" %></li>
                <li class="d-inline-block ml-4"><%= link raw(~s(<i class="fa fa-road"></i>) <> " Logistics"), to: delivery_path(@conn, :index), class: "nav-link" %></li>
                <li class="d-inline-block ml-4"><%= link raw(~s(<i class="fa fa-list"></i>) <> " Products"), to: user_path(@conn, :index), class: "nav-link" %></li>
                <li class="d-inline-block ml-4"><%= link raw(~s(<i class="fa fa-cog"></i>) <> " Settings"), to: organization_path(@conn, :edit, @current_organization), class: "nav-link" %></li>
              <% end %>
            </ul>
          </div>

          <div class="col-xs">
            <ul class="nav navbar-nav float-right">
              <%= if @current_user do %>
                <li class="nav-item"><%= link raw(~s(<sup><span id="notification-count" class="badge badge-pill badge-warning"></span></sup><i class="fa fa-bell"></i>)), to: user_path(@conn, :index), class: "nav-link" %></li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"><%= @current_user.name %></a>
                  <div class="dropdown-menu">
                    <%= link "Profile", to: user_path(@conn, :show, @current_user), class: "dropdown-item" %>
                    <%= link "Log out", to: session_path(@conn, :delete), method: :delete, class: "dropdown-item" %>
                  </div>
                </li>
              <% end %>
            </ul>
          </div>
        </nav>
      </div>
    </div>

    <div class="container mt-3">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>

    <script src="<%= static_path(@conn, "/js/jquery-3.1.1.slim.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/bootstrap.min.js") %>"></script>
    <script src="<%= static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
