<div class="row">
  <div class="col-lg-12">
    <h4>Customers</h4>
    <ul>
      <li>
        <a href="/customers/1">Customer 1</a>
      </li>
      <li>
        Customer 2
      </li>
      <li>
        Customer 3
      </li>
    </ul>
  </div>
</div>
