<div class="row">
  <div class="col-lg-3">
    <h4><%= length(@data) %> customers</h4>
  </div>
  <div class="col-lg-6 text-center">
    <%= form_for @conn, customer_path(@conn, :search), [as: :search, method: :get, class: "form-inline"], fn f -> %>
      <%= text_input f, :query, placeholder: "Search customers", class: "form-control w-100" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-lg-12">
    <div id="elm-customers"></div>
  </div>
</div>
