/* This file is for your main application css. */

/* Phoenix flash messages */
.alert:empty { display: none; }

/* Phoenix inline forms in links and buttons */
form.link, form.button {
  display: inline;
}

/* Page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
.logo {
  width: 165px;
  height: 44px;
  display: inline-block;
  margin-bottom: 1em;
  background-image: url("/images/buckynix.png");
}

/* Container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1162px;
  }
}

ul.list-inline li {
  float: left;
  margin-right: 2px;
}

table.table tr.new-row > td > a {
  display: block;
  background-color: #FAE1A0;
  color: #08c;
}
