/* This file is for your main application css. */

.alert:empty { display: none; }

.text-center { text-align: center; }
.text-right { text-align: right; }

.help-block { color: #a94442; }

span.money.negative { color: #D0381B; }
