/* This file is for your main application css. */

.alert:empty { display: none; }

.text-center { text-align: center; }
.text-right { text-align: right; }

span.money.negative { color: #D0381B; }

table.table tr.new-row > td > a {
  display: block;
  background-color: #FAE1A0;
  color: #08c;
}
